{% for item in result %}
      <h2>{{ item.name }}</h2>
      <p>{{ item.description }}</p>
      <p>
           <span>Prix de base : {{ item.gold.base }}</span>, <span>Prix total: {{ item.gold.total }}</span>, <span>Prix de revente {{ item.gold.sell }}</span>
      </p>
{% endfor %}